/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

header {
    text-align: center;
    background-color: lightgrey;
    color: #000;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.contact-info {

    text-align: right;
    font-size: 15px;
    
}

.education, .experience, .skills {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education h2, .experience h2, .skills h2 {
    
    
    font-size: 24px;
    margin-bottom: 10px;
    color: grey;
}

.bullet-list{
    list-style-type: disc;
    padding: 20px;
}

.norm-list{
    list-style: none

}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
}
